  <!--EDUCACION-->
  <div class="mx-2 mb-3 px-2 text-white border border-2 border-top-0  border-start-0 border-end-0">
    <h1 class="display-6 ">Educación</h1>

    <div class="row row-cols-1 row-cols-lg-2  g-4 py-2 text-white">

      <!--Universidad-->
      <div class="col d-flex align-items-center">
        <img src="./assets/images/Logo UNC.png" alt="Logo UNC" class="logos">
        <div>
          <h4 class="fw-bold mb-0 ms-3 mt-3">Universidad Nacional de Córdoba</h4>
          <p class="ms-3 mb-0 fw-bolder">Ingeniería Electrónica</p>
          <p class="ms-3 mb-0 fw-lighter">2004 - 2011</p>
          <p class="ms-3 fw-lighter">Córdoba, Argentina.</p>
        </div>
      </div>

      <!--Secundario-->
      <div class="col d-flex align-items-start">
        <img src="./assets/images/Zuviria.png" alt="Logo UNC" class="logos ps-2">
        <div>
          <h4 class="fw-bold mb-0 ms-3 mt-3">Instituto Gustavo Martinez Zuviría</h4>
          <p class="ms-3 mb-0 fw-bolder">Nivel Secundario. Especialización en Humanidades y Ciencias Sociales</p>
          <p class="ms-3 mb-0 fw-lighter">1998 - 2003</p>
          <p class="ms-3 fw-lighter">Córdoba, Argentina.</p>
        </div>
      </div>

      <!--Inglés 1-->
      <div class="col d-flex align-items-center">
        <img src="./assets/images/Icana.svg" alt="Logo Icana" class="logos ps-2">
        <div>
          <h4 class="fw-bold mb-0 ms-3 mt-3">IICANA</h4>
          <p class="ms-3 mb-0 fw-bolder">Idioma Inglés. Nivel 6th Adults</p>
          <p class="ms-3 mb-0 fw-lighter">1997 - 2002</p>
          <p class="ms-3 fw-lighter">Córdoba, Argentina.</p>
        </div>
      </div>

      <!--Inglés 2-->
      <div class="col d-flex align-items-center">
        <img src="./assets/images/CulturaBritanica.png" alt="Logo CulturaBritanica" class="logos ps-2">
        <div>
          <h4 class="fw-bold mb-0 ms-3 mt-3">Asociación Argentina de Cultura Británica</h4>
          <p class="ms-3 mb-0 fw-bolder">First Certificate in English / University of Cambridge (2004)</p>
          <p class="ms-3 mb-0 fw-lighter">2002 - 2004</p>
          <p class="ms-3 fw-lighter">Córdoba, Argentina.</p>
        </div>
      </div>

      <!--Cisco-->
      <div class="col d-flex align-items-center">
        <img src="./assets/images/cisco_netacad_logo.png" alt="Logo Cisco" class="logos ps-2">
        <div>
          <h4 class="fw-bold mb-0 ms-3 mt-3">Cisco Certified Network Associated (CCNA)</h4>
          <p class="ms-3 mb-0 fw-lighter"> <span class="fw-bold">CCNA 1: </span>Network Fundamentals 4.0 (2011)</p>
          <p class="ms-3 mb-0 fw-lighter"><span class="fw-bold">CCNA 2: </span> Routing Protocols and Concepts 4.0
            (2012)</p>
          <p class="ms-3 mb-0 fw-lighter"><span class="fw-bold">CCNA 3: </span> LAN Switching and Wireless 4.0 (2013)
          </p>
          <p class="ms-3 fw-lighter">Córdoba, Argentina.</p>
        </div>
      </div>


    </div>

  </div>