<div class="mx-1 mb-3 px-1">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4">
      <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 mx-2 mb-md-0 text-muted text-decoration-none lh-1">
            <i class="fa-solid fa-biohazard"></i>
        </a>
        <span class="text-muted">© 2022 Marcos Strike, Inc.</span>
      </div>

      <div  class="align-items-center text-muted">
        <i class="fa-solid fa-m"></i> <i class="fa-solid fa-s"></i>
      </div>
  
      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex me-3">
        <li class="ms-3"><a class="text-muted" href="https://www.facebook.com/mstritzke"> <i class="fa-brands fa-facebook"></i>   </a></li>
        <li class="ms-3"><a class="text-muted" href="https://twitter.com/?lang=es"> <i class="fa-brands fa-twitter"></i></a></li>
        <li class="ms-3"><a class="text-muted" href="https://ar.linkedin.com/in/marcos-stritzke-bb5711a5?original_referer=https%3A%2F%2Fwww.google.com%2F"><i class="fa-brands fa-linkedin"></i></a></li>
      </ul>
    </footer>
  </div>