<div class="mx-1 mb-3 px-1">
  <footer class="text-center text-lg-start text-muted">
    <!-- Section: Copyright -->
    <section class="p-3 pt-0">
      <div class="row d-flex align-items-center">
        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-start">
          <!-- Copyright -->
          <div class="p-3">
            © 2022 Copyright:
            <span class="text-muted ps-1">Marcos Stritzke</span>
          </div>
          <!-- Copyright -->
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-1 col-lg-2 text-center text-md-ceter mb-2 text-warning">
          <!-- MS -->
          <i class="fa-solid fa-m"></i> <i class="fa-solid fa-s"></i>
          <!-- MS -->
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-5 col-lg-5 ml-lg-0 text-center text-md-end">
          <!-- Facebook -->
          <a class="btn btn-floating text-muted" role="button" href="https://www.facebook.com/mstritzke">
            <i class="fa-brands fa-facebook fa-xl"></i> </a>

          <!-- Twitter -->
          <a class="btn btn-floating text-muted" role="button" href="https://twitter.com/?lang=es">
            <i class="fa-brands fa-twitter fa-xl"></i></a>

          <!-- Linkedin -->
          <a class="btn btn-floating text-muted" role="button"
            href="https://ar.linkedin.com/in/marcos-stritzke-bb5711a5?original_referer=https%3A%2F%2Fwww.google.com%2F"><i
              class="fa-brands fa-linkedin fa-xl"></i></a>

        </div>
        <!-- Grid column -->
      </div>
    </section>
    <!-- Section: Copyright -->

  </footer>
</div>