  <!--EXPERIENCIA-->
  <div class="mx-2 mb-3 px-2 text-white border border-2 border-top-0  border-start-0 border-end-0">
    <h1 class="display-6 ">Expericiencia</h1>

    <div class="row row-cols-1  g-4 py-2 text-white">
      <div class="col d-flex align-items-start">
        <img src="./assets/images/DeSSRL-logo.png" class="logo-Des-recortado" alt="Logo DeS recortado" >
        <div>
          <h4 class="fw-bold mb-0 ms-3 mt-3">Jefe del departamento de Ingeniería</h4>
          <p class="ms-3 mb-0 fw-bolder">De S SRL - Full Time</p>
          <p class="ms-3 mb-0 fw-lighter">2011 - Actualidad - 11 años.</p>
          <p class="ms-3 fw-lighter">Córdoba, Argentina.</p>
        </div>
      </div>
    </div>
  </div>
