<!-- HEADER #YoP + Barra Navegación + Redes + Log In -->
<header class="bg-dark p-1 text-white">
  <div class="container-fluid">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

      <a href="https://argentinaprograma.inti.gob.ar/login/index.php"
        class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <img src="https://argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/logo/1648503444/APLogo-20-20.png"
          alt="Logo Arg. Programa" srcset="" height="70px" width="114.75px" class="img-fluid ">
      </a>

      <p class="text-warning align-items-center justify-content-center mb-0">#Yo Programo</p>

      <!-- Barra de navegación. -->
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2 text-secondary ms-5">Home</a></li>
        <li><a href="#" class="nav-link px-2 text-white">Experiencia</a></li>
        <li><a href="#" class="nav-link px-2 text-white">Skills</a></li>
        <li><a href="#" class="nav-link px-2 text-white">Proyectos</a></li>
      </ul>

      <!-- <form class="col-12 col-lg-auto mb-3 mb-lg-0  me-lg-3">
          <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
        </form> -->

      <!-- Redes Sociales -->
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 me-2 text-white text-decoration-none">
        <img src="./assets/images/facebok-logo7.png" alt="facebook" height="40px" width="40px" class="img-fluid">
      </a>

      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 me-2 text-white text-decoration-none">
        <img src="./assets/images/twitter-logo-2-1.png" alt="twitter" height="35px" width="35px" class="img-fluid">
      </a>

      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 me-5 text-white text-decoration-none">
        <img src="./assets/images/Linkedin.png" alt="LinKedin" height="35px" width="35px" class="img-fluid">
      </a>

      <div *ngIf="userLogOn; then usuarioLogueado else usuarioDeslogueado"></div>
      <ng-template #usuarioDeslogueado>
        <div class="text-end">
          <button type="button" class="btn btn-outline-light me-2" data-bs-toggle="modal"
            data-bs-target="#modalUsuario">Login</button>
        </div>
      </ng-template>
      <ng-template #usuarioLogueado>
        <div class="text-end">
          <button type="button" class="btn btn-outline-warning me-2" (click)="LogOutUser()">Log Out</button>
        </div>
      </ng-template>
    </div>
  </div>

</header>


<!-- Modal User -->
<!-- Modal -->
<div class="modal fade" id="modalUsuario" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="modalUsuarioLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalUsuarioLabel">Log In</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="floatingInputUser" placeholder="name@example.com"
            [(ngModel)]="userFromFront.userName">
          <label for="floatingInput">Email</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" id="floatingPasswordUser" placeholder="Password"
            [(ngModel)]="userFromFront.password">
          <label for="floatingPassword">Password</label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btn-cancelar">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="LogOnUsuer()">Ingresar</button>
      </div>
    </div>
  </div>
</div>