<!-- BANNER -->
<div class="mx-2 mb-3 border border-2 border-top-0  border-start-0 border-end-0">

  <!-- Imagen Banner -->
  <div class="d-none d-m-block d-lg-block">
    <img class="img-fluid border-0 rounded " [src]="persona.url_banner" alt="Foto Banner">
  </div>

  <div class="px-2 ">
    <div class="row gx-2 align-items-center">
      <!--Foto Perfil-->
      <div class="col-lg-2">
        <div class="p-3"><img class="img-fluid rounded-circle" [src]="persona.url_foto_perfil" alt="Foto Perfil" />
        </div>
      </div>
      <!--Datos Personales-->
      <div class="col-lg-3">
        <div class="p-3 text-white">
          <h2 class="display-6 p-0 text-primary fw-bolder">{{persona.nombre}} {{persona.apellido}}</h2>
          <p class="mb-0"> {{persona.profesion}} en {{persona.empresa_actual}}</p>
          <p class=" fw-light mb-0">{{persona.domicilio}}</p>
        </div>
      </div>
      <div class="col-lg-7 align-items-start">
        <button class="btn btn-default bg-white rounded-pill border border-2 border-warning" data-bs-toggle="modal"
          data-bs-target="#staticBackdrop">
          <img src="./assets/images/editar-texto.png" width="20" /></button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Para Editar Persona -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Editar Persona</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInput" placeholder="" [(ngModel)]="persona.nombre">
          <label for="floatingInput">Nombre</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInput" placeholder="" [(ngModel)]="persona.apellido">
          <label for="floatingInput">Apellido</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInput" placeholder="" [(ngModel)]="persona.profesion">
          <label for="floatingInput">Profesión</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInput" placeholder="" [(ngModel)]="persona.empresa_actual">
          <label for="floatingInput">Empresa Actual</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInput" placeholder="" [(ngModel)]="persona.domicilio">
          <label for="floatingInput">Domicilio</label>
        </div>
        <div class="form-floating mb-3">
          <input type="url" class="form-control" id="floatingInput" placeholder="" [(ngModel)]="persona.url_foto_perfil">
          <label for="floatingInput">Foto Perfil</label>
        </div>
        <div class="form-floating mb-3">
          <input type="url" class="form-control" id="floatingInput" placeholder="" [(ngModel)]="persona.url_banner">
          <label for="floatingInput">Foto Banner</label>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btn-cancelar">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="editPersona()">Guardar</button>
      </div>
    </div>
  </div>
</div>