  <!--HARD AND SOFT SKILLS-->
  <div class="mx-2 mb-3 px-2 text-white border border-2 border-top-0  border-start-0 border-end-0" id="skills">
    <h1 class="display-6 ">Habilidades</h1>
    <div class="container px-4 py-4">

      <!--Habilidades Idiomas-->
      <h2 class="pb-2 border-bottom">Idiomas</h2>
      <div class="row row-cols-1 row-cols-lg-6 g-4 py-4 mb-4">
        <div class="col me-5">
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated " role="progressbar" aria-valuenow="100"
              aria-valuemin="0" aria-valuemax="100"  [ngStyle]="{'width':por}"></div>
          </div>
          <h5 class="pt-1 fst-italic">Español: Nativo</h5>
        </div>

        <div class="col me-5">
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated " role="progressbar" aria-valuenow="75"
              aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
          </div>
          <h5 class="pt-1 fst-italic">Inglés</h5>
        </div>
      </div>

      <!--Habilidades Progrmaicon-->
      <h2 class="pb-2 border-bottom">Lenguajes Progrmación</h2>
      <div class="row row-cols-1 row-cols-lg-6 g-4 py-4 mb-4">

        <!--Java-->
        <div class="col me-5">
          <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar"
              aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 50%"></div>
          </div>
          <h5 class="pt-1 fst-italic">Java</h5>
        </div>

        <!--Spring Boot-->
        <div class="col me-5">
          <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success progress-bar-animated fw-bold" role="progressbar"
              aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 30%"></div>
          </div>
          <h5 class="pt-1 fst-italic">Spring Boot</h5>
        </div>

        <!--HTML-CSS-BS5-->
        <div class="col me-5">
          <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar"
              aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 30%"></div>
          </div>
          <h5 class="pt-1 fst-italic">HTML-CSS-BS5</h5>
        </div>

        <!--Angular-->
        <div class="col me-5">
          <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar"
              aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 30%"></div>
          </div>
          <h5 class="pt-1 fst-italic">Angular</h5>
        </div>

        <!--MySQL-->
        <div class="col">
          <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar"
              aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 50%"></div>
          </div>
          <h5 class="pt-1 fst-italic">My SQL</h5>
        </div>


      </div>

      <!--Herramientas informaticas-->
      <h2 class="pb-2 border-bottom">Herramientas Informáticas</h2>
      <div class="row row-cols-1 row-cols-lg-6 g-4 py-4 mb-4">
        <div class="col me-5">
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar"
              aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
          </div>
          <h5 class="pt-1 fst-italic">Microsof Office</h5>
        </div>

        <div class="col me-5">
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar"
              aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
          </div>
          <h5 class="pt-1 fst-italic">AutoCad</h5>
        </div>
      </div>

    </div>

  </div>
