<!--HARD AND SOFT SKILLS-->
<div class="mx-2 mb-3 px-2 text-white border border-2 border-top-0  border-start-0 border-end-0" id="skills">
  <h1 class="display-6 ">Habilidades</h1>
  <div class="container px-4 py-4">

    <!--Habilidades Idiomas-->
    <h2 class="pb-2 border-bottom text-info">Idiomas</h2>
    <div class="row row-cols-1 row-cols-lg-6 g-4 py-4 mb-2">
      <div *ngFor="let idioma of listIdioma; index as i">
        <div class="col me-5">
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar"
              aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width':idioma.nivel+'%'}"></div>
          </div>
          <h5 class="pt-1 fst-italic">{{idioma.idioma}}</h5>
          <!-- Botones -->
          <div class="col-auto align-items-start ms-4">
            <!-- Boton Eliminar Educacion -->
            <button class="btn btn-danger btn-circle" (click)="consultaDeleteIdioma(i)" data-bs-toggle="modal"
              data-bs-target="#borrarIdioma" *ngIf="userLogOnStatus">
              <i class="fa fa-times"></i>
            </button>
            <!-- Boton Editar Educacion -->
            <button class="btn btn-success btn-circle mx-2" (click)="consultaDeleteIdioma(i)" data-bs-toggle="modal"
              data-bs-target="#editIdioma" *ngIf="userLogOnStatus">
              <i class="fas fa-edit"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Boton Agregar Idioma -->
    <div class=" col-12 d-flex justify-content-start mb-2">
      <button class="btn btn-primary btn-circle my-3 ms-3" data-bs-toggle="modal" data-bs-target="#agregarIdioma"
        *ngIf="userLogOnStatus">
        <i class="fa-solid fa-plus"></i> Idioma
      </button>
    </div>

    <!--Habilidades Progrmaicon-->
    <h2 class="pb-2 border-bottom text-success">Lenguajes Progrmación</h2>
    <div class="row row-cols-1 row-cols-lg-6 g-4 py-4 mb-2">
      <div *ngFor="let lenguaje of listLenguaje; index as i">
        <div class="col me-5">
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar"
              aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width':lenguaje.nivel+'%'}"></div>
          </div>
          <h5 class="pt-1 fst-italic">{{lenguaje.lenguaje}}</h5>
          <!-- Botones -->
          <div class="col-auto align-items-start ms-4">
            <!-- Boton Eliminar Lenguaje -->
            <button class="btn btn-danger btn-circle" (click)="consultaDeleteLenguaje(i)" data-bs-toggle="modal"
              data-bs-target="#borrarLenguaje" *ngIf="userLogOnStatus">
              <i class="fa fa-times"></i>
            </button>
            <!-- Boton Editar Lenguaje -->
            <button class="btn btn-success btn-circle mx-2" (click)="consultaDeleteLenguaje(i)" data-bs-toggle="modal"
              data-bs-target="#editLenguaje" *ngIf="userLogOnStatus">
              <i class="fas fa-edit"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Boton Agregar Lenguaje Programacion -->
    <div class=" col-12 d-flex justify-content-start mb-2">
      <button class="btn btn-primary btn-circle my-3 ms-3" data-bs-toggle="modal" data-bs-target="#agregarLenguaje"
        *ngIf="userLogOnStatus">
        <i class="fa-solid fa-plus"></i> Lenguaje
      </button>
    </div>

    <!--Herramientas informaticas-->
    <h2 class="pb-2 border-bottom text-warning">Herramientas Informáticas</h2>
    <div class="row row-cols-1 row-cols-lg-6 g-4 py-4 mb-4">
      <div *ngFor="let herramienta of listHerramienta; index as i">
        <div class="col me-5">
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar"
              aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width':herramienta.nivel+'%'}">
            </div>
          </div>
          <h5 class="pt-1 fst-italic">{{herramienta.herramienta}}</h5>
          <!-- Botones -->
          <div class="col-auto align-items-start ms-4">
            <!-- Boton Eliminar Herramienta -->
            <button class="btn btn-danger btn-circle" (click)="consultaDeleteHerramienta(i)" data-bs-toggle="modal"
              data-bs-target="#borrarHerramienta" *ngIf="userLogOnStatus">
              <i class="fa fa-times"></i>
            </button>
            <!-- Boton Editar Herramienta -->
            <button class="btn btn-success btn-circle mx-2" (click)="consultaDeleteHerramienta(i)" data-bs-toggle="modal"
              data-bs-target="#editHerramienta" *ngIf="userLogOnStatus">
              <i class="fas fa-edit"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Boton Agregar Herramienta -->
    <div class=" col-12 d-flex justify-content-start mb-2">
      <button class="btn btn-primary btn-circle my-3 ms-3" data-bs-toggle="modal" data-bs-target="#agregarHerramienta"
        *ngIf="userLogOnStatus">
        <i class="fa-solid fa-plus"></i> Herramienta
      </button>
    </div>

  </div>

</div>



<!------------------------------------ Modales Para IDIOMA ------------------------------------>
<!-- Modal Para Agrear Idioma -->
<div class="modal fade" id="agregarIdioma" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="agregarIdiomaLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="agregarIdiomaLabel">Agregar Idioma</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">

        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="idiomaIdioma" placeholder="" [(ngModel)]="idiomaNuevo.idioma">
          <label for="idiomaIdioma">Idioma</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="idiomaNivel" placeholder="" [(ngModel)]="idiomaNuevo.nivel">
          <label for="idiomaNivel">Nivel (Número del 1 al 100)</label>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btn-cancelar-idiomaAgregar"
          (click)=" getIdioma()">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="addIdioma()">Guardar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Para Borrar Idioma-->
<div class="modal fade" id="borrarIdioma" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="borrarIdiomaLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="borrarIdioma">Borrar Idioma</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div *ngIf="posicionArrayIdioma>=0">
          <h6 class="text-danger">¿Desea borrar el Idioma?</h6>
          <p *ngIf="posicionArrayIdioma>=0">{{listIdioma[posicionArrayIdioma].idioma}}</p>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
          id="btn-cancelar-borrarIdioma">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="deleteIdioma(posicionArrayIdioma)">Borrar</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal Para Editar Experiencia- -->
<div class="modal fade" id="editIdioma" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="editIdiomaLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editIdiomaLabel">Editar Idioma</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div *ngIf="posicionArrayIdioma>=0">
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="IdiomaIdiomaEditar" placeholder=""
              [(ngModel)]="listIdioma[posicionArrayIdioma].idioma">
            <label for="IdiomaIdiomaEditar">Idioma</label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="IdiomaNivelEditar" placeholder=""
              [(ngModel)]="listIdioma[posicionArrayIdioma].nivel">
            <label for="IdiomaNivelEditar">Nivel (Número del 1 al 100)</label>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
          id="btn-cancelar-editIdioma">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="updateIdioma(posicionArrayIdioma)">Guardar</button>
      </div>
    </div>
  </div>
</div>

<!------------------------------------ Modales Para LENGUAJE ------------------------------------>
<!-- Modal Para Agrear Lenguaje -->
<div class="modal fade" id="agregarLenguaje" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="agregarLenguajeLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="agregarLenguajeLabel">Agregar Lenguaje de Programación</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">

        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="lenguajeLenguaje" placeholder=""
            [(ngModel)]="lenguajeNuevo.lenguaje">
          <label for="lenguajeLenguaje">Lenguaje de Programación</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="lenguajeNivel" placeholder="" [(ngModel)]="lenguajeNuevo.nivel">
          <label for="lenguajeNivel">Nivel (Número del 1 al 100)</label>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btn-cancelar-lenguajeAgregar"
          (click)=" getLenguaje()">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="addLenguaje()">Guardar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Para Borrar Lenguaje-->
<div class="modal fade" id="borrarLenguaje" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="borrarLenguajeLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="borrarLenguaje">Borrar Lenguaje Programación</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div *ngIf="posicionArrayLenguaje>=0">
          <h6 class="text-danger">¿Desea borrar el Lenguaje de Programación?</h6>
          <p *ngIf="posicionArrayLenguaje>=0">{{listLenguaje[posicionArrayLenguaje].lenguaje}} </p>

        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
          id="btn-cancelar-borrarLenguaje">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="deleteLenguaje(posicionArrayLenguaje)">Borrar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Para Editar Lenguaje-->
<div class="modal fade" id="editLenguaje" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="editLenguajeLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editLenguajeLabel">Editar Lenguaje de Programación</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div *ngIf="posicionArrayLenguaje>=0">
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="lenguajeLenguajeEditar" placeholder=""
              [(ngModel)]="listLenguaje[posicionArrayLenguaje].lenguaje">
            <label for="lenguajeLenguajeEditar">Lenguaje de Programación</label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="lenguajeNivelEditar" placeholder=""
              [(ngModel)]="listLenguaje[posicionArrayLenguaje].nivel">
            <label for="lenguajeNivelEditar">Nivel (Número del 1 al 100)</label>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
          id="btn-cancelar-editLenguaje">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="updateLenguaje(posicionArrayLenguaje)">Guardar</button>
      </div>
    </div>
  </div>
</div>

<!------------------------------------ Modales Para HERRAMIENTA ------------------------------------>
<!-- Modal Para Agrear Herramienta -->
<div class="modal fade" id="agregarHerramienta" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="agregarHerramientaLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="agregarHerramientaLabel">Agregar Herramienta Informática</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="herramientaHerramienta" placeholder=""
            [(ngModel)]="herramientaNueva.herramienta">
          <label for="herramientaHerramienta">Herramienta Informática</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="herramientaNivel" placeholder=""
            [(ngModel)]="herramientaNueva.nivel">
          <label for="herramientaNivel">Nivel (Número del 1 al 100)</label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btn-cancelar-herramientaAgregar"
          (click)=" getHerramienta()">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="addHerramienta()">Guardar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Para Borrar Herramienta-->
<div class="modal fade" id="borrarHerramienta" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="borrarHerramientaLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="borrarHerramienta">Borrar Herramienta Informática</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div *ngIf="posicionArrayHerramienta>=0">
          <h6 class="text-danger">¿Desea borrar Herramienta Informática?</h6>
          <p *ngIf="posicionArrayHerramienta>=0">{{listHerramienta[posicionArrayHerramienta].herramienta}} </p>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
          id="btn-cancelar-borrarHerramienta">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="deleteHerramienta(posicionArrayHerramienta)">Borrar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Para Editar Herramienta-->
<div class="modal fade" id="editHerramienta" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="editHerramientaLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editHerramientaLabel">Editar Herramienta Informática</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div *ngIf="posicionArrayHerramienta>=0">
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="herramientaHerramientaEditar" placeholder=""
              [(ngModel)]="listHerramienta[posicionArrayHerramienta].herramienta">
            <label for="herramientaHerramientaEditar">Herramienta Informática</label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="herramientaNivelEditar" placeholder=""
              [(ngModel)]="listHerramienta[posicionArrayHerramienta].nivel">
            <label for="herramientaNivelEditar">Nivel (Número del 1 al 100)</label>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
          id="btn-cancelar-editHerramienta">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="updateHerramienta(posicionArrayHerramienta)">Guardar</button>
      </div>
    </div>
  </div>
</div>