<!-- ACERCA DE-->
<div class="mx-2 mb-3 px-2 text-white border border-2 border-top-0  border-start-0 border-end-0">
  <div class="row align-middle">
    <h1 class="display-6 col-auto">Acerca de</h1>
    <div class=" col-auto align-items-start">
      <!-- Boton Editar acerca de -->
      <button class="btn btn-success btn-circle" data-bs-toggle="modal" data-bs-target="#editAcercaDe"
        *ngIf="userLogOnStatus">
        <i class='fas fa-edit'></i>
      </button>
    </div>
  </div>
  <p class="col-12 px-3"> {{persona.acerca_de}}</p>
  <div *ngFor="let certificado of listCertificados ; index as i">
    <div class="">
      <div class="col-auto">
        <p class="px-4"> * {{certificado.certificado}}</p>
      </div>
      <div class="col-auto align-items-start">
        <!-- Boton Eliminar certificado -->
        <button class="btn btn-danger btn-circle" (click)="consultaDeleteCertificado(i)" data-bs-toggle="modal"
          data-bs-target="#borrarCertificado" *ngIf="userLogOnStatus">
          <i class="fa fa-times"></i>
        </button>
        <!-- Boton Editar certificado -->
        <button class="btn btn-success btn-circle mx-2" (click)="consultaDeleteCertificado(i)" data-bs-toggle="modal"
          data-bs-target="#editCertificado" *ngIf="userLogOnStatus">
          <i class="fas fa-edit"></i>
        </button>
      </div>
    </div>
  </div>
<!-- Boton Agregar certificado -->
  <div class=" col-12 d-flex justify-content-start">
    <button class="btn btn-primary btn-circle my-3 ms-3" data-bs-toggle="modal" data-bs-target="#agregarCertificado"
      *ngIf="userLogOnStatus">
      <i class="fa-solid fa-plus"></i> Certificado
    </button>
  </div>

</div>


<!-- Modal Para Editar Acera de -->
<div class="modal fade" id="editAcercaDe" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="editAcercaDeLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editAcercaDeLabel">Editar Acerca de...</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-floating">
          <textarea class="form-control" placeholder="" id="floatingAcercade" style="height: 200px"
            [(ngModel)]="persona.acerca_de"></textarea>
          <label for="floatingAcercade">Acerca de</label>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btn-cancelar-acercade"
          (click)=" getPersona()">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="editPersona()">Guardar</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal Para Agregar Certificado-->
<div class="modal fade" id="agregarCertificado" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="agregarCertificado" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="agregarCertificado">Certificado...</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-floating">
          <textarea class="form-control" placeholder="" id="floatingAgregarCertificado" style="height: 200px"
            [(ngModel)]="nuevoCertificado.certificado"></textarea>
          <label for="floatingAgregarCertificado">Certificado</label>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btn-cancelar-agrearCertificado"
          (click)="getCertificado()">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="saveCertificado()">Agregar</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal Para Borrar Certificado-->
<div class="modal fade" id="borrarCertificado" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="borrarCertificadoLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="borrarCertificado">Borrar Certificado</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h6 class="text-danger">¿Desea borrar el certificado?</h6>
        <p *ngIf="posicionArrayCertificado>=0">{{listCertificados[posicionArrayCertificado].certificado}}</p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
          id="btn-cancelar-borrarCertificado">Cancelar</button>
        <button type="button" class="btn btn-danger"
          (click)="deleteCertificado(posicionArrayCertificado)">Borrar</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal Para Editar Certificado -->
<div class="modal fade" id="editCertificado" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="editCertificadoLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editCertificadoLabel">Editar Certificado</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-floating">
          <textarea class="form-control" placeholder="" id="floatingEditCertificado" style="height: 200px" *ngIf="posicionArrayCertificado>=0"
             [(ngModel)]="listCertificados[posicionArrayCertificado].certificado"></textarea>
          <label for="floatingEditCertificado">Certificado:</label>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btn-cancelar-editCertificado"
          (click)=" getCertificado()">Cancelar</button>
        <button type="button" class="btn btn-primary"  (click)="updateCertificado(posicionArrayCertificado)">Guardar</button>
      </div>
    </div>
  </div>
</div>