  <!-- ACERCA DE-->
  <div class="mx-2 mb-3 px-2 text-white border border-2 border-top-0  border-start-0 border-end-0">
   
    <h1 class="display-6 ">Acerca de</h1>
    <p class="col-12 px-3"> Ingeniero Electrónico, graduado de la Universidad Nacional de Córdoba. 11 años de
      experiencia trabajando en la electro construcción, especialista en corrientes débiles y sistemas de
      control.</p>
    <p class="col-12 px-4"> * Certificado en EcoStruxure Buildng de Schneider Electric. Sistemas "BMS"</p>
    <p class="col-12 px-4"> * Certificado en KNX. Automatización de viviendas y edificios.</p>
  </div>
