/* You can add global styles to this file, and also import other style files */

/*--- HEADER ---*/
.bg-banner {
    
    background-size: cover;
    height: 75vh;
    background-repeat: no-repeat;
    background-position: center center;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

.profile-img {
    border-radius: 50%;
    margin-left: 75px;
}

.tarjeta-presentacion {
    margin-top: 100px;

}

.logo-Des {
    width: 220px;
    height: 82px;
    background-color: lightgray;
    border-radius: 10px;
}

.logo-recortado {
    width: 81px;
    /* width of container */
    height: 75px;
    /* height of container */
    object-fit: cover;
    object-position: 0px 0%;
    /* try 20px 10px */
}


.logos{
    width: 90px;
    height: auto;
    
}
